@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  * {
    font-family: inherit;
  }
}

